<div>
    <table>
        <tr>
            <td><a href='{% url "quarter" "summer2014" %}'>Summer 2014</a></td>
            <td><a href='{% url "quarter" "fall2014" %}'>Fall 2014</a></td>
            <td><a href='{% url "quarter" "winter2015" %}'>Winter 2015</a></td>
            <td><a href='{% url "quarter" "spring2015" %}'>Spring 2015</a></td>
            <td><a href='{% url "quarter" "summer2015" %}'>Summer 2015</a></td>
            <td><a href='{% url "quarter" "fall2015" %}'>Fall 2015</a></td>
            <td><a href='{% url "quarter" "winter2016" %}'>Winter 2016</a></td>
            <td><a href='{% url "quarter" "spring2016" %}'>Current Quarter</a></td>
            <td><a href=''>Other</a></td>
        </tr>
    </table>
<!--     <ul>
        <li>Summer</li>
        <li>Winter</li>
    </ul> -->

</div>
