<!DOCTYPE html>
<html>
<head>
    <style>
        td {

        }
        a {
            padding-left: 12px;
        }

    </style>
    <title></title>
    {% include "bootstrap.html" %}
</head>
<body>
    {% include "nav_bars/nav_bar.html" %}
    <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
            {% include 'classes/quarters.html' %}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
            <h1>Spring 2016</h1>
            <form method='post' action='{% url "add_classes" quarter %}'>{% csrf_token %}
                <br />
                {{ formset.management_form }}
                <ul>
                    {% for form in formset %}
                        <li>{{ form }}</li>
                        <br/>
                    {% endfor %}
                </ul>
                <!-- <input type='hidden' value='spring2016'> -->
                <input type='submit' value='add classes'>
            </form>
        </div>
    </div>
    {% include "bootstrap_js.html" %}
</body>


</html>
